#canvas {
    border:solid 2px;
    border-color:brown;   
}
#JogarNovamente { 
    display: none;
    margin-left: 45%;
    width: 150px;
    background-color: black;
    color: white;
}
#JogarNovamente:hover {
    background-color: green;
    color: white;
}
#Logar { 
    margin-left: 50%;
    background-color: black;
    color: white;
}

#Logar:hover { 
    background-color: green;
    color: white;
}
#NewUser {
    width: 150px;
    display: none;
    margin-left: 45%;
    background-color: black;
    color: white;
}
#NewUser:hover {
    background-color: green
 
}
.ModeGame {
    background-color: black;
    color: white;
    width: 150px;
}
.ModeGame:hover {
    background-color: green;

}
.DivButton {
  left: 50%;
  margin-left: -100px; 
  position: absolute;
  width: 350px; 
  align-items: center;  
      
}